*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    color: #292929;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
}

h1 {
    font-size: 3rem;
    margin: 0;
}

#words {
    display: inline-block;
    font-size: 1.2rem;
    margin: 0.5rem auto 0 auto;
}

section {
    width: 100%;
    height: 100vh;
    text-align: center;
}

section:before {
    content: " ";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

section > div {
    display: inline-block;
    vertical-align: middle;
    width: 90%;
    max-width: 1080px;
}

#logo {
    background: #f1c900;
    border-radius: 10%;
    cursor: pointer;
    width: 5rem;
    height: 5rem;
    margin: 0 auto 2rem auto;
    position: relative;
}

#logo:before,
#logo:after {
    content: " ";
    display: block;
    overflow: hidden;
    position: absolute;
}

#logo:before {
    background: #fff;
    border-radius: 10%;
    top: 17%;
    left: 17%;
    width: 66%;
    height: 66%;
    z-index: 2;
}

#logo:after {
    background: #292929;
    border-radius: 8%;
    top: 31.5%;
    left: 31.5%;
    width: 37%;
    height: 37%;
    z-index: 3;
}

@media only screen and (min-width: 768px) {
    section > div {
        width: 60%;
    }

    #logo {
        width: 8.8rem;
        height: 8.8rem;
    }
}
